/* Experience Section */
.ExperienceContainer {
    margin-bottom: 5%;
}

/* .ExperienceContainer h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
} */

.ExperienceGrid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.ExperienceGrid h2.Experience {
    font-family: var(--font-secondary);
    font-weight: normal;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 2rem;
}

.GridInfo {
    font-family: var(--font-mono);
    font-weight: lighter;
    font-style: normal;
    font-size: 1rem;
    line-height: 2rem;
}

@media screen and (max-width: 768px) {
    .ExperienceGrid h2.Experience {
        font-size: 3.75vw;
        line-height: 2rem;
    }
}