/* --- Hero --- */

.Front{
    margin-top: 0.75%;
}

.FrontBackGround {
    transform: translateY(-21%);
}

/* --- Projects --- */
.ProjectsGridCont{
    display: flex;
    gap: 1em;
}

.ProjectsGrid{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ProjectCardCont{
    background-color: antiquewhite;
    
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;

    transition: 0.4s;
    z-index: 0;

    background-size: cover;
    background-position: center;

    height: auto;
    width: 100%;
}

.ProjectCardCont:hover{
    transform: scale(1.25);
    z-index: 10;
}