h1.Front, h2.Front{
    color: var(--color-text-light);
}

.FrontBackGround {
    transform: translateY(-10%);
}

.ProjectsGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.ProjectCardCont{
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;

    transition: 0.4s;
    background-size: cover;
    background-position: 50%;
    height: 25em;
}

.ProjectCardCont:hover{
    transform: scale(1.25);
}

.div1 { 
    grid-area: 1 / 1 / 2 / 3; 
    background-image: url(images/Programming/Black-Hole-Hero.jpg);
}
.div2 {
    grid-area: 1 / 3 / 2 / 5; 
    background-image: url(images/Programming/plants-vs-zombies.png);
}

.div3 { 
    grid-area: 1 / 5 / 2 / 7; 
    background-image: url(images/Programming/multiplayer\ fps.png);
}
.div4 { 
    grid-area: 2 / 1 / 3 / 4; 
    background-image: url(images/Programming/Hide\ and\ seek\ game.png);
}
.div5 { 
    grid-area: 2 / 4 / 3 / 7; 
    background-image: url(images/Programming/CubieMarathon.png);
}