/* --- Hero --- */

h1.Front, h2.Front{
    color: var(--color-text-light);
}

.FrontBackGround {
    transform: translateY(-10%);
}

/* --- Projects --- */

.ProjectsGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin-bottom: 5em;
    height: 120vh;
}

.ProjectLinkWrapper{
    display: grid; 
    grid-template-areas: "stack";
    place-items: center;
    align-items: end;

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 2em;
    text-decoration: none;
    text-align: center;

    z-index: 0;
    overflow: hidden;
    cursor: pointer;

    transition: 0.4s;

    margin: 0;
    padding: 0;
}

.ProjectLinkWrapper:hover{
    transform: scale(1.25);
    z-index: 10;
    filter: brightness(100%);
}

.ProjectContent{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;

    padding: 2em;

    background-color: var(--color-text-dark);
    width: 100%;
    height: 50%;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.ProjectLinkWrapper.div1 { 
    grid-area: 1 / 1 / 3 / 4;
    background-size: auto 120%;
    background-position: center 100%;
    background-image: url(images/Programming/Black-Hole-Hero.jpg);
}
.ProjectLinkWrapper.div2 {
    grid-area: 1 / 4 / 3 / 7;
    background-size: auto 100%; 
    background-position: 60%;
    background-image: url(images/Programming/plants-vs-zombies.png);
}
.ProjectLinkWrapper.div3 { 
    grid-area: 3 / 3 / 5 / 5;
    background-size: auto 110%;
    background-position: center 320%;
    background-image: url(images/Programming/multiplayer\ fps.png);
}
.ProjectLinkWrapper.div4 { 
    grid-area: 3 / 1 / 5 / 3;
    background-size: auto 110%;
    background-position: center 320%;
    background-image: url(images/Programming/Hide\ and\ seek\ game.jpg);
}
.ProjectLinkWrapper.div5 { 
    grid-area: 3 / 5 / 5 / 7;
    background-size: auto 110%;
    background-position: center 320%;
    background-image: url(images/Programming/CubieMarathon.png);
}

.ProjectContent p{
    font-family: var(--font-mono);
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}