/*#region fonts*/
@font-face {
    font-family: "Europa Grotesk";
/*    src: url(fonts/Europa-Grotesk-Bold.otf) format("opentype");
    src: url(fonts/Europa-Grotesk-Medium.ttf) format("truetype"), */
    src: url(fonts/Europa-Grotesk-Medium-Italic.otf) format("opentype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Europa Grotesk";
    src: url(fonts/Europa-Grotesk-Bold.otf) format("opentype");

    font-style: oblique;
    font-weight: 300;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-Bold.eot');
    src: local('Monument Grotesk Bold'), local('MonumentGrotesk-Bold'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Bold.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Bold.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-Italic.eot');
    src: local('Monument Grotesk Italic'), local('MonumentGrotesk-Italic'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/fonts/MonumentGrotesk/MonumentGrotesk-Italic.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Italic.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-Medium.eot');
    src: local('Monument Grotesk Medium'), local('MonumentGrotesk-Medium'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Medium.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Medium.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Grotesk Semi-Mono';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-Semi-Mono.eot');
    src: local('Monument Grotesk Semi-Mono'), local('MonumentGrotesk-Semi-Mono'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Semi-Mono.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Semi-Mono.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Semi-Mono.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Semi-Mono.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-Regular.eot');
    src: local('Monument Grotesk Regular'), local('MonumentGrotesk-Regular'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Regular.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Grotesk Mono';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-Mono.eot');
    src: local('Monument Grotesk Mono'), local('MonumentGrotesk-Mono'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Mono.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Mono.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Mono.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-BoldItalic.eot');
    src: local('Monument Grotesk Bold Italic'), local('MonumentGrotesk-BoldItalic'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-BoldItalic.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-BoldItalic.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('fonts/MonumentGrotesk/MonumentGrotesk-MediumItalic.eot');
    src: local('Monument Grotesk Medium Italic'), local('MonumentGrotesk-MediumItalic'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-MediumItalic.woff2') format('woff2'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-MediumItalic.woff') format('woff'),
        url('fonts/MonumentGrotesk/MonumentGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
/*#endregion fonts*/

/*#region RegionName*/

/*#endregion RegionName*/

/*#region basic text*/
h1{
    margin-bottom: -2%;
    color: #161616;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 5rem;
}

h2 {
    margin-bottom: 3%;
    color: #161616;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    
}

h3{
    color: white;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;

    text-align: center;
    vertical-align: middle;
    line-height: auto; 
    width: 22rem;
}

h4{
    margin-top: 2%;
    margin-bottom: -0.75%;
    color: #ffffff;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 2rem;
}

p{
    color: white;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    margin-bottom: 3%;
}

ul{
    padding-left: 0%;
}
/*#endregion basic text*/

body {
    background-color: #767676;
    margin: 0%;
    max-width: 100%;
}

@keyframes shake {
  0% { transform: translate(200px, 200px) scale(1.75);}
  50% { transform: translate(-100px, 200px) scale(1.75);}
  100% { transform: translate(100px, -200px) scale(1.75);}
}

.Noise{
    position: fixed;
    mix-blend-mode: color-dodge;
    opacity: 65%;
    height: 100vh;
    width: 100%;
    margin: auto;
    background-size: cover;

    animation: shake 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3);
    pointer-events: none;
    z-index: 1000;
}


/*#region Front*/
.MainFront{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.FrontTextBox{
    margin-top: 22%;
    margin-left: 10%;
    margin-bottom: 30%;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.FrontBackGround{
    height: auto;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -100;
}

img.FrontBackGround{
    width: 100%;
    height: auto;
    background-size: cover;
    z-index: -100;
    overflow: hidden;
}
/*#endregion Front*/

/*#region header*/
.HeaderGrid{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
}

.HeaderButton{
    border: none;
    text-decoration: none;
    text-align: center;
    vertical-align: auto;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    width: auto;
    height: auto;

    background-color: #4e4e4e;
    border-radius: 2rem;
    overflow: hidden;
    padding: 0;
}

.Header.Email{
    margin-left: auto;
    margin-right: 0;
}

.HeaderButton:hover {
    background-color: #2f2f2f;
    filter: brightness(85%);
    color: white;
}

h2.HeaderText{
    font-family: Monument Grotesk, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: small;

    margin: 0;

    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
    line-height: 2.5rem;
    text-align: center;
}

.HeaderGradient {
    margin-top: -25%;
    scale: 100% 20%;
    width: 100%;
    position: fixed;
    -webkit-user-drag: none;
    pointer-events: none;
    alignment-baseline: baseline;
    opacity: 45%;
}
/*#endregion header*/

/*#region MainAboutTextBox*/

.MainBody{
    margin-top: 50%;
    background-color: #222;
    overflow: hidden;
    border-radius: 2rem;
}

/*#region About*/
.MainAboutTextBox{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 6.5%;
}
h1.MainBodyText{
    margin-bottom: 0%;
    color: #ffffff;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 4rem;
}
h2.MainBodyText{
    margin-bottom: 3%;
    color: #ffffff;
    font-family: Monument Grotesk, sans-serif;
    font-size: 2vw;
    font-weight: normal;
    font-style: normal;
    line-height: 2.75vw;
    text-align: justify;
    text-justify: inter-word;
}
/*#endregion About*/

/*#region experience*/
.ExperienceContainer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 6.5%;
}

.ExperienceGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.ExperienceGrid.Experience{
    text-align: right;
}

h2.MainBodyText.Experience{
    margin: 0rem;
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
    color: #ffffff;
    font-family: Monument Grotesk, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    line-height: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

h2.MainBodyText.GridInfo{
    margin-bottom: -0.5rem;
    color: #ffffff;
    font-family: Monument Grotesk Mono, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

/*#region Languages*/
.LanguagesGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1em;
}

.LanguageCont{
    background-color: #4e4e4e;
    border-radius: 2rem;
    overflow: hidden;

    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 0em;

    width: auto;
    height: auto;
}

.LanguageText{
    font-family: Monument Grotesk, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: small;

    margin: 0;

    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
    line-height: 2.5rem;
    text-align: center;
}
/*#endregion Languages*/

/*#endregion experience*/

/*#region projects*/
.ProjectsContentBox{
    margin-top: -3%;
    margin-left: 10%;
    margin-right: 10%;

    padding-bottom: 25%;
}

.ProjectGrid{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: stretch;
    
    row-gap: 2rem;
    column-gap: 2rem;
}

.ProjectLinkWrapper {
    display: grid; 
    grid-template-areas: "stack";
    place-items: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    transition: transform 0.3s ease;

    width: 20rem;
    height: 20rem;
    position: relative;
    -webkit-user-drag: none;
}

.ProjectLinkWrapper:hover {
    transform: translateY(-5px);
}

.ProjectBackground {
    grid-area: stack; 
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    transition: filter 0.4s ease; 

    transform: scale(1.03);

    filter: brightness(35%) blur(0.2rem); 
    -webkit-user-drag: none;
}

.ProjectLinkWrapper:hover .ProjectBackground {
    filter: brightness(100%) blur(0rem); 
}

/*#region backgrounds*/
.ProjectBackground.PVZ {
    background-image: url(images/plants-vs-zombies.png);
}

.ProjectBackground.MultiplayerFPS{
    background-image: url(images/multiplayer\ fps.png);
    background-size:120%; 
    background-position: 0% -20%;
}

.ProjectBackground.HideAndSeek{
    background-image: url(images/Hide\ and\ seek\ game.png);
    background-size:120%; 
    background-position: 0% -20%;
}

.ProjectBackground.CubieMarathon{
    background-image: url(images/CubieMarathon.png);
    background-size:120%; 
    background-position: 50% -50%;
}
/*#endregion backgrounds*/

/* This div holds the text content (h2 and p) */
.ProjectContent {
    background-color: #161616;
    width: auto;
    height: 60%;
    margin-top: auto;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    grid-area: stack; 
    z-index: 2; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 1rem; 
    box-sizing: border-box; 
}

/* Styling for text within the project content */
.ProjectContent .MainBodyText {
    color: white; 
    margin: 0; 
    padding: 0.5rem 0; 
}
.ProjectContent h2.MainBodyText {
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 1.5rem; 
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
.ProjectContent p.MainBodyText {
    font-size: 0.9rem; 
    font-family: Monument Grotesk Mono, sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1.2rem;
    text-justify: inter-word;
}
/*#endregion projects*/

/*#endregion MainAboutTextBox*/

/*#region Footer*/
.Footer{
    position: relative;
    background-color: #d77550;
    margin-top: -2em;
    max-width: 100%;
    width: 100%;
    height: 35em;
    z-index: -10;
    overflow: hidden;
}

p.Footer{
    margin-top: 4em;
    margin-left: 1em;
    height: auto;
    font-family: Monument Grotesk Mono, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222222;
}

.footerIMG{
    width: 45%;
    margin-left: 1em;
}
/*#endregion Footer*/