@font-face {
    font-family: "Europa Grotesk";
/*    src: url(fonts/Europa-Grotesk-Bold.otf) format("opentype");
    src: url(fonts/Europa-Grotesk-Medium.ttf) format("truetype"), */
    src: url(fonts/Europa-Grotesk-Medium-Italic.otf) format("opentype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Europa Grotesk";
    src: url(fonts/Europa-Grotesk-Bold.otf) format("opentype");

    font-style: oblique;
    font-weight: 300;
}

/*#region RegionName*/

/*#endregion RegionName*/

/*ffe9be*/

body {
    background-color: #686868;
    margin: 0%;
    max-width: 100%;
}

/*#region basic text*/
h1{
    margin-bottom: -2%;
    color: #161616;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 5rem;
}

h2 {
    margin-bottom: 3%;
    color: #161616;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    
}

h3{
    color: white;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;

    text-align: center;
    vertical-align: middle;
    line-height: auto; 
    width: 22rem;
}

h4{
    margin-top: 2%;
    margin-bottom: -0.75%;
    color: #ffffff;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 2rem;
}

p{
    color: white;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    margin-bottom: 3%;
}
/*#endregion basic text*/


.MainFront{
    max-width: 100%;
    background-image: url(images/IMG_0823.jpg);
    background-size: 110rem;
    height: 40rem;

    overflow: hidden;
}

.FrontTextBox{
    margin-top: -5%;
    margin-left: 10%;
    height: 40rem;
    align-content: center;
}

/*#region header*/
.HeaderGrid{
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
}

.HeaderButton{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 5rem;
    height: auto;
    background-color: #161616;
    border-radius: 2rem;
    overflow: hidden;
}

.HeaderButton:hover {
    background-color: #2f2f2f;
    filter: brightness(85%);
    color: white;
}

h2.HeaderText{
    margin: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: "Europa Grotesk";
    font-style: italic;
    color: #ffffff;
    font-size: small;
    align-content: center;
    letter-spacing: 0.1rem;
}
/*#endregion header*/

/*#region MainAboutTextBox*/
.MainAbout{
    margin-top: -5%;
    background-color: #161616;
    overflow: hidden;
    border-radius: 0rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.MainAboutTextBox{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 6.5%;
}
h1.MainBodyText{
    margin-bottom: 0%;
    color: #ffffff;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    font-size: 4rem;
}
h2.MainBodyText{
    margin-bottom: 3%;
    color: #ffffff;
    font-family: "Europa Grotesk";
    font-style: italic;
    font-weight: 200;
    
}

.ProjectsContentBox{
    margin-top: -3%;
    margin-bottom: 25%;
    margin-left: 10%;
    margin-right: 10%;
}

.ProjectGrid{
    margin-top: 3%;
}

.ProjectButton{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 5rem;
    height: auto;
    background-color: #4c4c4c;
    border-radius: 2rem;
    overflow: hidden;
}

.ProjectButton:hover {
    background-color: #2f2f2f;
    filter: brightness(85%);
    color: white;
}

.ProjectButton.PVZ{
    width: 20rem;
    height: 20rem;
    background-image: url(images/plants-vs-zombies.png);
    background-size: 40rem;
    background-position: 45% 0%;
}
/*#endregion MainAboutTextBox*/